@media (max-width: 1200px) {
  .cont {
    max-width: 970px;
  }
}
body {
  background-color: blueviolet;
  padding: 0px;
  margin: 9px 0px 0px 0px;
}

.cont {
  max-width: 1200px;
  font-family: "Anton", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  outline: 3px solid red;
  height: 250px;
  border-radius: 15% 13% 16% 18%;

  margin: 0px auto;
}

.conl {
  background-color: chartreuse;
  margin: 1px 2px 34px 0px;
  max-height: 60px;
  padding: 5px;
  outline: 2px solid;
}

.conce {
  background-color: chartreuse;
  margin: 1px;
  align-self: center;
  max-height: 60px;
  padding: 5px;
  outline: 2px solid;
}

.conr {
  background-color: chartreuse;
  align-self: flex-start;
  margin: 34px 0px 0px 3px;
  max-height: 60px;
  outline: 2px solid;
  padding: 5px;
}
